@media screen and (max-width: 1400px) {
  section {
    height: auto;
    margin-bottom: 10rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  /* SLIDER */
  .page-slider {
    display: none;
  }

  /* SECTION */
  section,
  .section__container {
    height: fit-content;
  }
  section {
    /* margin: 0 5%; */
    justify-self: center;
  }

  /* HOME */
  .home {
    height: auto;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto); 
    height: 100%;
  }

  .home__text,
  .intro__text {
    grid-column: 1 / 1;
    text-align: center;
  }
  .btn__container {
    justify-content: center;
  }
  .socials__container {
    justify-content: center;
  }
  .home__pic-container {
    width: 275px;
    height: 275px;
    margin: 2rem auto 2rem;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }


  /* INTRO */
  .intro__spFile {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }
  
  .intro__text {
    grid-column: 1 / 1;
    margin-bottom: 3rem;
  }


  /* ABOUT */
  .title {
    text-align: center;
  }
  .about__member {
    margin: 0;
    padding: 0;
    background: none;
  }
  .small-grid-container {
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .card__profile-1 {
    grid-column: 1 / 5;
  }
  .card__profile-2 {
    grid-column: 8 / 12;
  }
  .card__info-1 {
    grid-column: 5 / 12;
    display: block;
  }
  .card__info-2 {
    grid-column: 1 / 8;
    display: block;
  }
  
  .about-containers {
    margin-top: 0;
  }

  .bread-board-edge, .board-middle {
    display: none;
  }
}

@media screen and (max-width: 900px) {

  /* ABOUT */
  .about__member-card {
    padding: 0;
    border: none;
  }
  .small-grid-container {
    grid-template-rows: 2;
    grid-template-columns: 1fr;
    border: 1px solid var(--black);
    border-radius: 10px;
    padding: 1rem;
  }
  .card__profile-1, .card__profile-2 {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  .card__info-1, .card__info-2 {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
  }
  .card-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card-tags {
    justify-content: center;
  }

}

@media screen and (max-width: 768px) {
  .contact,
  footer {
    height: 40vh;
  }

  

  /* HOME */
  .home {
    margin-bottom: 0;
  }
  
  .section__container {
    padding: 4rem 2rem 3rem;
  }
  .home__pic-container {
   display: none;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }

  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }




  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

}
